@using Domain.App
@model IEnumerable<Domain.App.Yritus>

@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a asp-controller="Yritused" asp-action="Create">Lisa uus üritus</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Algus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lopp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asukoht)
        </th>
        <th>
            Registreerunute arv
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Algus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lopp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asukoht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsikudYritusel.Count)
            </td>
            <td>
                <a asp-controller="Yritused" asp-action="Edit" asp-route-id="@item.Id">Vaata/ muuda</a>
                @if (item.Algus > DateTime.Now)
                {
                    <a asp-controller="Yritused" asp-action="Delete" asp-route-id="@item.Id">Kustuta üritus</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>