@model IEnumerable<Domain.App.Yritus>

@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a asp-controller="Yritused" asp-action="Create">Lisa uus üritus</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Algus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lopp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asukoht)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Yritused" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Nimi)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Algus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lopp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asukoht)
            </td>
            <td>
                <a asp-controller="Yritused" asp-action="Delete" asp-route-id="@item.Id">Kustuta üritus</a>
            </td>
        </tr>
    }
    </tbody>
</table>