@model Domain.App.Yritus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Yritus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Algus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Algus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lopp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lopp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asukoht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asukoht)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
