@model Domain.App.Yritus

@{
    ViewData["Title"] = "Ürituse info";
}

<h1>Details</h1>

<div>
    <h4>Yritus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Algus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Algus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lopp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lopp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asukoht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asukoht)
        </dd>
        <dd class="col-sm-10">
            @if (Model.IsikudYritusel != null)
            {
                <table>
                    <thead>
                    <tr>
                        <th>Eesnimi / Nimetus</th>
                        <th>Perenimi / Liik</th>
                        <th>Isikukood / Registrikood</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var osaleja in Model.IsikudYritusel)
                    {
                        <tr>
                            <td><a asp-controller="Isikud" asp-action="Details" asp-route-id="@osaleja.Isik!.Id">@osaleja.Isik!.Eesnimi</a></td>
                            <td>@osaleja.Isik!.Perenimi</td>
                            <td>@osaleja.Isik.Isikukood</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            @if (Model.IsikudYritusel == null)
            {
                <div><b>Üritusel puuduvad osalejad</b></div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Tagasi</a>
</div>
