@model Domain.App.IsikYritusel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IsikYritusel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yritus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yritus!.Asukoht)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isik!.Eesnimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JurIsik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JurIsik!.Nimi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
